extend layout
block content
	nav(class="pure-g" data-view="Nav")
		a(href="/")
			h2(id="nav-left") PodServer
		span(id="nav-right" style="margin:15px 7px;")
			a(href="/logout" id="nav-btn-logout" class="logout pure-button") Logout
	.container(data-view="PageError")
		h2(class="error-msg") It seems like you're lost. No worries, the subway back to Manhattan is coming in 
			span(class="redirect-timer") 
			|  seconds. Hold on to your things...